.mainBody {
    padding: 0 auto;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

.mainPageMain {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.about {
    display: flex;
}

.divImgAbout {
    width: 55%;

    img {
        width: 100%;
        padding: 50px;
    }
}

.divTextAbout {
    padding-left: 80px;
    padding-top: 20px;
    width: 70%;
    color: white;

    h2 {
        font-size: 40px;
    }
}

.banner {
    background-image: url("/TacostudiosBannerB.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
}

.noticies {
    background-color: blue;
    height: 240px;
}