@import "tailwindcss";

@theme {
    /* COLORS */
    --color-primary: #c799ff;
    --color-primary-fixed: #bc87fe;
    --color-primary-dim: #ba85fb;
    --color-primary-container: #bc87fe;
    --color-inverse-primary: #7744b5;

    --color-secondary: #4af8e3;
    --color-secondary-fixed: #4af8e3;
    --color-secondary-dim: #33e9d5;
    --color-secondary-container: #006a60;

    --color-tertiary: #ff9dac;
    --color-tertiary-fixed: #ff8fa2;
    --color-tertiary-dim: #eb7c8f;
    --color-tertiary-container: #fb899c;

    --color-background: #0e0e0e;
    --color-surface: #0e0e0e;
    --color-surface-variant: #262626;

    --color-on-background: #ffffff;
    --color-on-surface: #ffffff;
    --color-on-surface-variant: #adaaaa;

    --color-error: #ff6e84;
    --color-error-container: #a70138;

    /* BORDER RADIUS */
    --radius: 0.125rem;
    --radius-lg: 0.25rem;
    --radius-xl: 0.5rem;
    --radius-full: 0.75rem;

    /* FONTS */
    --font-headline: "Space Grotesk";
    --font-body: "Manrope";
    --font-label: "Manrope";
}